.container{
	width: 100%;
 
    border: 1px solid #FF5733;
	background-color: lightblue;
	font-family: Century Gothic;
	max-width: 1250px;
	margin:auto;	
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header{
    padding:5px;
    color: white;
    background-color: #FF5733;
    text-align: center;
	height: auto;
	width: 1000;
}

.menu {
	padding:0.02px;
	background: darkblue;
	text-align: center;
}

ul li{
	display: inline-block;
	text-align: center;
}

ul li a{
	text-decoration:none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	text-align: center;
}

ul li a:hover{
	background-color: white;
	color: black;	
}

h1 {
	background-color: #4180C5;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-top: -11px;
	margin-bottom: -8px;
	/*border-radius: 10px 10px 0 0;*/
	color: aliceblue;
} 

.content{
	
	align:center;
	
	width: 90%;
	margin: 10px 30% 10px 25%;
	padding:10px 0;
	/*border: 2px solid gray;*/
	max-width: 1250px;
	margin:auto;
	/*margin-top: 80px;*/
	margin-bottom: 190px;
	/*border-radius:10px;*/
} 
.content1{
	 align:center;
	 width: 95%;
	 margin: 10px 30% 10px 25%;
	 padding: 10px 0;
	 max-width:1250px;
	 margin:auto;
}
	
.active {
	background-color: white;
	color: black;
}

@media screen and (min-width: 320px) and (max-width: 480px){
form{
	width:70%;
	margin:4% 15%;
} 
} 

.container{
	width: 100%;
 
    border: 1px solid #FF5733;
	background-color: lightblue;
	font-family: Century Gothic;
	max-width: 1250px;
	margin:auto;	
}
.header{
    padding:5px;
    color: white;
    background-color: #FF5733;
    text-align: center;
	height: auto;
	width: 1000;
}

.menu {
	padding:0.02px;
	background: darkblue;
	text-align: center;
}

ul li{
	display: inline-block;
	text-align: center;
}

ul li a{
	text-decoration:none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	text-align: center;
}

ul li a:hover{
	background-color: white;
	color: black;	
}

h1 {
	background-color: #4180C5;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-top: -11px;
	margin-bottom: -8px;
	/*border-radius: 10px 10px 0 0;*/
	color: aliceblue;
} 

.content{
	
	align:center;
	
	width: 90%;
	margin: 10px 30% 10px 25%;
	padding:10px 0;
	/*border: 2px solid gray;*/
	max-width: 1250px;
	margin:auto;
	/*margin-top: 80px;*/
	margin-bottom: 190px;
	/*border-radius:10px;*/
} 
.content1{
	 align:center;
	 width: 95%;
	 margin: 10px 30% 10px 25%;
	 padding: 10px 0;
	 max-width:1250px;
	 max-height: 100%;
	 margin:auto;
}
	
.active {
	background-color: white;
	color: black;
}

@media screen and (min-width: 320px) and (max-width: 480px){
form{
	width:70%;
	margin:4% 15%;
} 
} 

.table1{
	margin-bottom: 150px;
	
}
